<head>
  <link href="/css/questions.css" rel="stylesheet" type="text/css">
</head>
<div class="container" >
  <h1> Welcome to CIS{{courseID}} </h1>
  <p> </br>
      {{#each questions}}
      {{shortdesc}} </br>
      {{desc}} </br>
      {{/each}} </p>
  <form class="questions" action="/questions/{{courseID}}" method="post">
    <h2 class="form-signin-heading"></h2>
    <input name="short" type="text" id="short" class="form-control" placeholder="Write a Short description" required>
    <input name="question" type="text" id="question" class="form-control" placeholder="Write a question" required>
    <button class="btn btn-lg btn-success btn-block" type="submit">Post</button>
  </form>
</div>
<!-- <body>
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <p class="lead">{{username}}</p>
        <img src={{picture}} alt="zerg" width="200" height="auto">
        <h4>Questions I've Asked:</h4>
        <div class="list-group">
          {{#each myQuestions}}
            <a href="#" class="list-group-item">{{shortdesc}}</a>
            <br />
          {{/each}}
        </div>
        <h4>Questions I've Answered:</h4>
        <div class="list-group">
          {{#each myQuestions}}
          <a href="#" class="list-group-item">{{shortdesc}}</a>
          <br />
          {{/each}}
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <hr>
    <footer>
      <p>Team DZS</p>
    </footer>
  </div>
</body> -->
